{
  "presets": [
    "module:metro-react-native-babel-preset"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": "./src",
        "extensions": [
          ".js",
          ".ios.js",
          ".android.js"
        ],
        "alias": {
          "src": "./src",
          "components": "./src/components",
          "screens": "./src/screens",
          "i18n": "./src/i18n",
          "utils": "./src/utils",
          "images": "./src/images"
        },
        "cwd": "packagejson"
      }
    ]
  ]
}
